<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
    <h3 th:text="${title}"></h3>
    <form th:action="@{/form}" th:object="${user}" method="post">
        <div>
            <label for="id">Id</label>
            <div>
                <input type="text" id="id" th:field="*{id}">
            </div>
            <div th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></div>
        </div>
        <div>
            <label for="name">Nombre</label>
            <div>
                <input type="text" id="name" th:field="*{name}">
            </div>
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>
        <div>
            <label for="surname">Apellido</label>
            <div>
                <input type="text" id="surname" th:field="*{surname}">
            </div>
            <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>
        </div>
        <div>
            <label for="username">Nombre de usuario</label>
            <div>
                <input type="text" id="username" th:field="*{username}">
            </div>
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        </div>
        <div>
            <label for="password">Contraseña</label>
            <div>
                <input type="password" id="password" th:field="*{password}">
            </div>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>
        <div>
            <label for="email">Email</label>
            <div>
                <input type="email" id="email" th:field="*{email}">
            </div>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>
        <div>
            <label for="count">Cuenta</label>
            <div>
                <input type="number" id="count" th:field="*{count}">
            </div>
            <div th:if="${#fields.hasErrors('count')}" th:errors="*{count}"></div>
        </div>
        <div>
            <label for="bornDate">Fecha de nacimiento</label>
            <div>
                <input type="text" id="bornDate" th:field="*{bornDate}" placeholder="yyyy/MM/dd">
            </div>
            <div th:if="${#fields.hasErrors('bornDate')}" th:errors="*{bornDate}"></div>
        </div>
        <div>
            <div>
                <input type="submit" value="Enviar">
            </div>
        </div>
    </form>
</body>
</html>